version: '3.8'
services:
  mongodb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql
    restart: always
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Password123
#sql adminName:sa for SSMS login

